@import "./common";
@import "./components/video";
@import "./components/design";
@import "./components/features";
@import "./components/res-design";
@import "./components/clients";
@import "./components/features-img";
@import "./components/form";
@import "./components/footer";