.footer__block{
  background-image: url("./../images/footer-bg.png");
  background-size: 25% 100%;
  min-height: 330px;
  @include bgimg(right);
  @extend %center;
  .col-2,
  .col-4,
  .col-3{
    margin: 0;
    padding: 0;
  }
  h3{
    font-weight: 600;
    margin-bottom: 25px;
  }
  p{
    font-weight: normal;
    margin-bottom: 15px;
  }
  .start{
    img{
      margin-bottom: 15px;
    }
    p{
      max-width: 260px;
    }
  }
  .newsletter{
    .massage{
      margin-bottom: 15px;
      display: flex;
      input{
        padding: 15px 30px;
        background-color: #f6f6f6;
        border: none;
        border-radius: 2px;
      }
      .button__footer{
        @include btn(1, 50px, 15px 15px);
        width: 100%;
        margin: 0;
        text-align: center;
        cursor: pointer;
        a{
          @extend %bottom-a;
        }
      }
    }
    .footer__img{
      margin-left: 100px;
    }
  }
}