.clients__block{
  background-image: url("./../images/clients-bg.png");
  @include bgimg(center);
  text-align: center;
  @extend %center;
  justify-content: space-around;
  .clients-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 110px 0 0;
    flex-direction: column;
    .photo-fon{
      background-color:#4e4e5e;
      width: 75px;
      height: 75px;
      margin: 0 auto 25px;
    }
    .clients-name{
      color: white;
      font-size: $font-size-md;
      margin: 0;
    }
    .clients-tittle{
      color: $color-site;
      font-size: $font-size-lg;
    }
  }
  .clients-logos{
    margin-top:95px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 80px;
    img{
      max-width: 80px;
    }
  }
}