.features__block{
  background-image: url("./../images/features-bg.png");
  background-size: 100%;
  min-height: 670px;
  @extend %center;
  @include bgimg(center);
  .features__tittle{
      @include b-s-tittle( 100%, black, 95px, center);
    }
  .features-contant{
    text-align: center;
    img{
      margin-bottom: 30px;
    }
    h3{
      font-size:$font-size-md;
      font-weight: bold;
    }
  }
}