.features__block{
  background-image: url("./../images/features-bg.png");
  @extend %center;
  @include bgimg(center);
  .features__tittle{
      padding: 138px 0 0;
      @include b-s-tittle( 100%, black, 95px, center);
    }
  .features-contant{
    padding: 0 0 185px;
    text-align: center;
    img{
      margin-bottom: 30px;
    }
    h3{
      font-size:$font-size-md;
      font-weight: bold;
    }
  }
}