.article-design__block{
  background-image: url("./../images/design-bg-right.png");
  background-size: 40% 100%;
  @include bgimg(right);
  @extend %center;
  .article__items{
    .article-design{
      padding: 190px 0 170px;
      @include b-s-tittle( 510px, black, 45px, left);
    }
  }
}