.res-design__block{
  background-image: url("./../images/description-bg.png");
  background-size: 40% 100%;
  @include bgimg(left);
  @extend %center;
  .row{
    .colon-img{
      @extend %center-x;
      align-items: center;
    }
      .res-design-content{
        padding: 140px 0 147px;
        @include b-s-tittle( 450px, black, 45px, left);
      }
  }
}

