@media  (max-width: 1190px){
  .res-design__block{
    .row{
      .colon-img{
        img{
          max-width: 500px;
        }
      }
    }
  }
}
@media  (max-width: 992px){
  .res-design__block{
    .row{
      .colon-img{
        img{
          max-width: 300px;
        }
      }
    }
  }
}

@media  (max-width: 930px){
  .res-design__block{
    .row{
      .colon-img{
        img{
          max-width: 300px;
        }
      }
    }
  }
}

@media  (max-width: 768px){
  .res-design__block{
    background-image: none;
    .row{
      text-align: center;
      .res-design-content{
        text-align: center;
        h3:nth-child(2) {
          max-width: none;
        }
      }
      .colon-img{
        img{
          max-width: 300px;
        }
      }
    }
  }
}