@media (max-width :1200px){
  .col-xl-12 {
    margin: 0 auto;
  }
}

@media (max-width :992px){
  .col-xl-8 {
    margin: 0 auto;
  }
}

@media (max-width :768px){
  .col-xl-6 {
    margin: 0 auto;
  }
}

@media (max-width :576px){
  .col-xl-3 {
    margin: 0 auto;
  }
}