.video__block{
  @include bgimg(center);
  height: 100vh;
  min-height: 800px;
  background-image: url("./../images/video-bg.png");
  background-attachment: fixed;
  @extend %center;
  .video__items{
    text-align: center;
    .video__content{
      h1{
        max-width: 815px;
        margin: 0 auto 45px;
        font-weight: 100;
        font-size: 60px;
        text-transform: uppercase;
      }
      img{
        opacity: .6;
        margin-bottom: 40px;
        cursor: pointer;
        transition: $transition;
        &:hover{
          opacity: .8;
        }
      }
      .button{
        @include btn(.6 , 200px, 20px 50px);
        margin-bottom: 20px;
        &:hover{
          opacity: .8;
        }
        a{
          @extend %bottom-a;
        }
      }
      p{
        font-size: $font-size-sm;
        opacity: .6;
      }
    }
  }
}