.forma{
  @extend %center;
  background-color: #323969;
  text-align: center;
  padding-bottom: 85px;
  .forma__tittle{
    @include b-s-tittle( 100%, white, 38px, center);
    padding-top: 100px;
  }
  .free__trial{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    img{
      margin-bottom: 18px;
    }
    p{
      color: white;
      font-weight: normal;
    }
  }
  .forma__content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
    input{
      padding: 18px 29px;
      background-color: #464c77;
      width: 100%;
      border: none;
      color: white;
      border-radius: 2px;
      &::placeholder {
        color: white;
      }
    }
    .button__forma{
      width: 100%;
        button {
          @extend %bottom-a;
          @include btn(1, none, 18px 29px);
          width: 100%;
          margin: 0;
          text-align: center;
          cursor: pointer;
          border: none;
          display: inline-block;
        }
    }
  }
  a{
    color: #6e6e6d;
  }
}