*{
  font-family: 'Exo', sans-serif;
}

body{
  overflow-x: hidden;
}
.container{
  max-width: $container-width;
  margin: 0 auto;
}

p{
  color: #6e6e6d;
  font-weight: bold;
  font-size: $font-size-lg;
}