%style-bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  //width: 100%;
}

%bottom{
  background: $color-site;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  transition: $transition;
}

%bottom-a{
  text-transform: uppercase;
  text-decoration: none;
  color:white;
}

%small-title{
  font-size: $font-size-lg;
  text-transform: uppercase;
  color: $color-site;
  font-weight: bold;
}

%h3{
  font-size: $font-size-xl;
  font-weight: 600;
}

%center{
  display: flex;
  align-items: center;
}