@mixin btn($op, $mxw, $pdg){
  @extend %bottom;
  opacity: $op;
  max-width: $mxw;
  padding: $pdg;
}

@mixin bgimg($bgp){
  @extend %style-bg-img;
  background-position: $bgp;
}

@mixin b-s-tittle($max-width,$color,$mg-bt,$text-align){
  text-align: $text-align;
  .small-tittle{
    @extend %small-title;
  }
  h3:nth-child(2){
    max-width: $max-width;
    @extend %h3;
    color:$color;
    margin-bottom:$mg-bt;
    span{
      color: $color-site;
    }
  }
}