@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;600&display=swap");
.clients__block, .res-design__block, .features__block, .article-design__block, .video__block {
  background-size: revert;
  background-repeat: no-repeat;
}

.form .form__content .button__form, .video__block .video__items .video__content .button {
  background: red;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.form .form__content .button__form a, .video__block .video__items .video__content .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.form .form__tittle .small-tittle, .features-img__block .features-img__tittle .small-tittle, .res-design__block .res-design-content .small-tittle, .features__block .features__tittle .small-tittle, .article-design__block .article__items .article-design .small-tittle {
  font-size: 16px;
  text-transform: uppercase;
  color: #fb8686;
  font-weight: bold;
}

.form .form__tittle h3:nth-child(2), .features-img__block .features-img__tittle h3:nth-child(2), .res-design__block .res-design-content h3:nth-child(2), .features__block .features__tittle h3:nth-child(2), .article-design__block .article__items .article-design h3:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
}

.form, .features-img__block, .clients__block, .res-design__block, .features__block, .article-design__block, .video__block {
  display: flex;
  align-items: center;
}

* {
  font-family: "Exo", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

p {
  color: #6e6e6d;
  font-weight: bold;
  font-size: 16px;
}

.video__block {
  background-position: center;
  height: 100vh;
  min-height: 800px;
  background-image: url("./../images/video-bg.png");
  background-attachment: fixed;
}
.video__block .video__items {
  text-align: center;
}
.video__block .video__items .video__content h1 {
  max-width: 815px;
  margin: 0 auto 45px;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
}
.video__block .video__items .video__content img {
  opacity: 0.6;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.video__block .video__items .video__content img:hover {
  opacity: 0.8;
}
.video__block .video__items .video__content .button {
  opacity: 0.6;
  max-width: 200px;
  padding: 20px 50px;
  margin-bottom: 20px;
}
.video__block .video__items .video__content .button:hover {
  opacity: 0.8;
}
.video__block .video__items .video__content p {
  font-size: 14px;
  opacity: 0.6;
}

.article-design__block {
  background-image: url("./../images/design-bg-right.png");
  background-size: 40% 100%;
  min-height: 700px;
  background-position: right;
}
.article-design__block .article__items .article-design {
  width: 60%;
  text-align: left;
}
.article-design__block .article__items .article-design h3:nth-child(2) {
  width: 510px;
  color: black;
  margin-bottom: 45px;
}
.article-design__block .article__items .article-design h3:nth-child(2) span {
  color: #fb8686;
}
.article-design__block .article__items .article-design p {
  width: 570px;
}

.features__block {
  background-image: url("./../images/features-bg.png");
  background-size: 100%;
  min-height: 670px;
  background-position: center;
}
.features__block .features__tittle {
  text-align: center;
}
.features__block .features__tittle h3:nth-child(2) {
  width: 100%;
  color: black;
  margin-bottom: 95px;
}
.features__block .features__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.features__block .features-contant {
  text-align: center;
}
.features__block .features-contant img {
  margin-bottom: 30px;
}
.features__block .features-contant h3 {
  font-size: 22px;
  font-weight: bold;
}

.res-design__block {
  background-image: url("./../images/res-design-bg.png");
  background-size: 40% 100%;
  min-height: 550px;
  background-position: left;
}
.res-design__block .res-design-content {
  text-align: left;
}
.res-design__block .res-design-content h3:nth-child(2) {
  width: 450px;
  color: black;
  margin-bottom: 45px;
}
.res-design__block .res-design-content h3:nth-child(2) span {
  color: #fb8686;
}
.res-design__block .res-design-content p {
  width: 570px;
}

.clients__block {
  background-image: url("./../images/clients-bg.png");
  background-size: 100%;
  min-height: 650px;
  background-position: center;
  text-align: center;
  justify-content: space-around;
}
.clients__block .clients-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clients__block .clients-item .photo-fon {
  margin-bottom: 25px;
  background-color: #4e4e5e;
  width: 75px;
  height: 75px;
}
.clients__block .clients-item p {
  width: 330px;
}
.clients__block .clients-item .clients-name {
  color: white;
  font-size: 22px;
  margin: 0;
}
.clients__block .clients-item .clients-tittle {
  color: #fb8686;
  font-size: 16px;
}
.clients__block .clients-logos {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-img__block {
  background-color: #f6f5f3;
}
.features-img__block .features-img__tittle {
  text-align: center;
  padding: 115px 0 70px;
}
.features-img__block .features-img__tittle h3:nth-child(2) {
  width: 100%;
  color: black;
  margin-bottom: 50px;
}
.features-img__block .features-img__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.features-img__block .features-img__tittle p {
  width: 680px;
  margin: 0 auto;
}
.features-img__block .img {
  display: flex;
  justify-content: center;
}

.form {
  background-color: #323969;
  min-height: 465px;
}
.form .form__tittle {
  text-align: center;
}
.form .form__tittle h3:nth-child(2) {
  width: 100%;
  color: white;
  margin-bottom: 95px;
}
.form .form__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.form .free__trial {
  display: flex;
  justify-content: flex-end;
}
.form .form__content {
  display: flex;
  justify-content: space-around;
}
.form .form__content input {
  padding: 18px 29px;
  background-color: #464c77;
  width: 263px;
  border: none;
  color: white;
  border-radius: 2px;
}
.form .form__content input::placeholder {
  color: white;
}
.form .form__content .button__form {
  opacity: 1;
  max-width: 263px;
  padding: 18px 29px;
  width: 100%;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/*# sourceMappingURL=inde.css.map */
