@font-face {
  font-family: "Exo";
  src: url("./../fonts/exo/Exo-ThinItalic.eot");
  src: local("Exo Thin Italic"), local("Exo-ThinItalic"), url("./../fonts/exo/Exo-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/exo/Exo-ThinItalic.woff2") format("woff2"), url("./../fonts/exo/Exo-ThinItalic.woff") format("woff"), url("./../fonts/exo/Exo-ThinItalic.ttf") format("truetype"), url("./../fonts/exo/Exo-ThinItalic.svg#Exo-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("./../fonts/exo/Exo-Thin.eot");
  src: local("Exo Thin"), local("Exo-Thin"), url("./../fonts/exo/Exo-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/exo/Exo-Thin.woff2") format("woff2"), url("./../fonts/exo/Exo-Thin.woff") format("woff"), url("./../fonts/exo/Exo-Thin.ttf") format("truetype"), url("./../fonts/exo/Exo-Thin.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("./../fonts/exo/Exo-Bold.eot");
  src: local("Exo Bold"), local("Exo-Bold"), url("./../fonts/exo/Exo-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/exo/Exo-Bold.woff2") format("woff2"), url("./../fonts/exo/Exo-Bold.woff") format("woff"), url("./../fonts/exo/Exo-Bold.ttf") format("truetype"), url("./../fonts/exo/Exo-Bold.svg#Exo-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.footer__block, .clients__block, .res-design__block, .features__block, .article-design__block, .video__block {
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__block .row .newsletter .massage .button__footer, .forma .forma__content .button__forma button, .video__block .video__items .video__content .button {
  background: #fb8686;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.footer__block .row .newsletter .massage .button__footer a, .forma .forma__content .button__forma button, .video__block .video__items .video__content .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.forma .forma__tittle .small-tittle, .features-img__block .features-img__tittle .small-tittle, .res-design__block .row .res-design-content .small-tittle, .features__block .features__tittle .small-tittle, .article-design__block .article__items .article-design .small-tittle {
  font-size: 16px;
  text-transform: uppercase;
  color: #fb8686;
  font-weight: bold;
}

.forma .forma__tittle h3:nth-child(2), .features-img__block .features-img__tittle h3:nth-child(2), .res-design__block .row .res-design-content h3:nth-child(2), .features__block .features__tittle h3:nth-child(2), .article-design__block .article__items .article-design h3:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
}

.footer__block, .forma, .features-img__block, .clients__block, .res-design__block, .features__block, .article-design__block, .video__block {
  display: flex;
  align-items: center;
}

.res-design__block .row .colon-img {
  display: flex;
  justify-content: center;
}

* {
  font-family: "Exo", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

p {
  color: #6e6e6d;
  font-weight: bold;
  font-size: 16px;
}

.video__block {
  background-position: center;
  height: 100vh;
  min-height: 800px;
  background-image: url("./../images/video-bg.png");
  background-attachment: fixed;
}
.video__block .video__items {
  text-align: center;
}
.video__block .video__items .video__content h1 {
  max-width: 815px;
  margin: 0 auto 45px;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
}
.video__block .video__items .video__content img {
  opacity: 0.6;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.video__block .video__items .video__content img:hover {
  opacity: 0.8;
}
.video__block .video__items .video__content .button {
  opacity: 0.6;
  max-width: 200px;
  padding: 20px 50px;
  margin-bottom: 20px;
}
.video__block .video__items .video__content .button:hover {
  opacity: 0.8;
}
.video__block .video__items .video__content p {
  font-size: 14px;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .col-xl-12 {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .col-xl-8 {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .col-xl-6 {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .video__block .video__items .video__content h1 {
    font-size: 48px;
  }
  .video__block .video__items .video__content .col-xl-3 {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .video__block .video__items .video__content h1 {
    font-size: 36px;
  }
}
.article-design__block {
  background-image: url("./../images/design-bg-right.png");
  background-size: 40% 100%;
  background-position: right;
}
.article-design__block .article__items .article-design {
  padding: 190px 0 170px;
  text-align: left;
}
.article-design__block .article__items .article-design h3:nth-child(2) {
  max-width: 510px;
  color: black;
  margin-bottom: 45px;
}
.article-design__block .article__items .article-design h3:nth-child(2) span {
  color: #fb8686;
}

@media (max-width: 1067px) {
  .article-design__block .article__items .article-design h3:nth-child(2) {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .article-design__block {
    background-image: none;
  }
  .article-design__block .article__items .article-design {
    text-align: center;
  }
  .article-design__block .article__items .article-design h3:nth-child(2) {
    max-width: none;
    font-size: 28px;
  }

  .col-xl-6 {
    margin: 0;
  }
}
.features__block {
  background-image: url("./../images/features-bg.png");
  background-position: center;
}
.features__block .features__tittle {
  padding: 138px 0 0;
  text-align: center;
}
.features__block .features__tittle h3:nth-child(2) {
  max-width: 100%;
  color: black;
  margin-bottom: 95px;
}
.features__block .features__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.features__block .features-contant {
  padding: 0 0 185px;
  text-align: center;
}
.features__block .features-contant img {
  margin-bottom: 30px;
}
.features__block .features-contant h3 {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .features__block .features-contant {
    padding: 0 0 85px;
  }
}
.res-design__block {
  background-image: url("./../images/description-bg.png");
  background-size: 40% 100%;
  background-position: left;
}
.res-design__block .row .colon-img {
  align-items: center;
}
.res-design__block .row .res-design-content {
  padding: 140px 0 147px;
  text-align: left;
}
.res-design__block .row .res-design-content h3:nth-child(2) {
  max-width: 450px;
  color: black;
  margin-bottom: 45px;
}
.res-design__block .row .res-design-content h3:nth-child(2) span {
  color: #fb8686;
}

@media (max-width: 1190px) {
  .res-design__block .row .colon-img img {
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .res-design__block .row .colon-img img {
    max-width: 300px;
  }
}
@media (max-width: 930px) {
  .res-design__block .row .colon-img img {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .res-design__block {
    background-image: none;
  }
  .res-design__block .row {
    text-align: center;
  }
  .res-design__block .row .res-design-content {
    text-align: center;
  }
  .res-design__block .row .res-design-content h3:nth-child(2) {
    max-width: none;
  }
  .res-design__block .row .colon-img img {
    display: none;
  }
}
.clients__block {
  background-image: url("./../images/clients-bg.png");
  background-position: center;
  text-align: center;
  justify-content: space-around;
}
.clients__block .clients-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 110px 0 0;
  flex-direction: column;
}
.clients__block .clients-item .photo-fon {
  background-color: #4e4e5e;
  width: 75px;
  height: 75px;
  margin: 0 auto 25px;
}
.clients__block .clients-item .clients-name {
  color: white;
  font-size: 22px;
  margin: 0;
}
.clients__block .clients-item .clients-tittle {
  color: #fb8686;
  font-size: 16px;
}
.clients__block .clients-logos {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 80px;
}
.clients__block .clients-logos img {
  max-width: 80px;
}

@media (max-width: 565px) {
  .clients__block .clients-logos {
    flex-direction: column;
  }
  .clients__block .clients-logos img {
    max-width: 80px;
    margin-bottom: 80px;
  }
}
.features-img__block {
  background-color: #f6f5f3;
}
.features-img__block .features-img__tittle {
  text-align: center;
  padding: 115px 0 70px;
}
.features-img__block .features-img__tittle h3:nth-child(2) {
  max-width: 100%;
  color: black;
  margin-bottom: 50px;
}
.features-img__block .features-img__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.features-img__block .features-img__tittle p {
  margin: 0 auto;
}
.features-img__block .img {
  display: flex;
  justify-content: center;
}

@media (max-width: 840px) {
  .features-img__block .img img {
    max-width: 650px;
  }
}
@media (max-width: 768px) {
  .features-img__block .img img {
    max-width: 500px;
  }
}
@media (max-width: 567px) {
  .features-img__block .img img {
    display: none;
  }
}
.forma {
  background-color: #323969;
  text-align: center;
  padding-bottom: 85px;
}
.forma .forma__tittle {
  text-align: center;
  padding-top: 100px;
}
.forma .forma__tittle h3:nth-child(2) {
  max-width: 100%;
  color: white;
  margin-bottom: 38px;
}
.forma .forma__tittle h3:nth-child(2) span {
  color: #fb8686;
}
.forma .free__trial {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.forma .free__trial img {
  margin-bottom: 18px;
}
.forma .free__trial p {
  color: white;
  font-weight: normal;
}
.forma .forma__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  width: 100%;
}
.forma .forma__content input {
  padding: 18px 29px;
  background-color: #464c77;
  width: 100%;
  border: none;
  color: white;
  border-radius: 2px;
}
.forma .forma__content input::placeholder {
  color: white;
}
.forma .forma__content .button__forma {
  width: 100%;
}
.forma .forma__content .button__forma button {
  opacity: 1;
  max-width: none;
  padding: 18px 29px;
  width: 100%;
  margin: 0;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;
}
.forma a {
  color: #6e6e6d;
}

.footer__block {
  background-image: url("./../images/footer-bg.png");
  background-size: 25% 100%;
  background-position: right;
}
.footer__block .row {
  padding-top: 85px;
  padding-bottom: 100px;
}
.footer__block .row .col-2,
.footer__block .row .col-4,
.footer__block .row .col-3 {
  margin: 0;
  padding: 0;
}
.footer__block .row h3 {
  font-weight: 600;
  margin-bottom: 25px;
}
.footer__block .row p {
  font-weight: normal;
  margin-bottom: 15px;
}
.footer__block .row .start img {
  margin-bottom: 15px;
}
.footer__block .row .newsletter .massage {
  margin-bottom: 15px;
  display: flex;
}
.footer__block .row .newsletter .massage input {
  padding: 15px 30px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 2px;
}
.footer__block .row .newsletter .massage .button__footer {
  opacity: 1;
  max-width: none;
  padding: 15px 15px;
  width: 100%;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.footer__block .row .newsletter .footer__img {
  margin-left: 45px;
}

@media (max-width: 1150px) {
  .footer__block {
    background-image: none;
  }
  .footer__block .row {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .footer__block .row .colon-newsletter {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .footer__block {
    display: flex;
    flex-direction: column;
  }
  .footer__block .row .colon-newsletter {
    display: flex;
    justify-content: left;
  }
}

/*# sourceMappingURL=index.css.map */
